<html>
  <head>
    <script>
    function loadXMLDoc()
    {
    .... AJAX script goes here ...
    }
    </script>
  <title>Classification Result</title>
  </head>
  <body>
    <div>
        <p>{{ sentence }}</p>
        <b>relationship</b>:{{ rel_type }}</br>
        <button type="button" text="Correct" onclick="loadXMLDoc()" style="width: 60px; height: 20px">Correct</button>
        <button type="button" text="Correct" onclick="loadXMLDoc()" style="width: 60px; height: 20px">False</button>
    </div>
    </br>
  </body>
</html>
